#title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-top: 30px;
  color: black;
}
#headerParagraph {
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}
#color-palette {
  width: fit-content;
  margin-bottom: 12px;
}
.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
}
#buttons {
  display: inline-block;
  justify-content: center;
  padding: 5px;
}
#pixel-board {
  width: fit-content;
  border: 1px solid black;
}
.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}