#title {
  font-family: 'Press Start 2P',cursive;
  font-size: 25px;
  margin-top: 30px;
  color:rgb(0,0,0);
};
#headerParagraph {
  font-family: 'Courier New', Courier, monospace;
  color:rgb(128,128,128);
}